@model CalculatorApp.Models.CalculationDetails

@using (Html.BeginForm("CalculationForm", "Home", FormMethod.Post))
{
    <form>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>@Html.LabelFor(m => m.FirstNumber) </label>
            @Html.TextBoxFor(m => m.FirstNumber)
            <div>@Html.ValidationMessageFor(model => model.FirstNumber, "", new { @class = "text-danger" })</div>
        </div>
        <div class="form-group">
            <label>@Html.LabelFor(m => m.SecondNumber) </label>
            @Html.TextBoxFor(m => m.SecondNumber)
            <div>@Html.ValidationMessageFor(model => model.SecondNumber, "", new { @class = "text-danger" })</div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                @Html.EnumDropDownListFor(
                m => m.Operation, "Select an operation",
                new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div colspan="2">
                <button type="submit" class="btn btn-primary">Submit form</button>
            </div>
        </div>
    </form>
}

<div>
    @if (ViewBag.OperationOutput != null)
    {
        <label> @Html.LabelFor(m => m.OperationOutput)</label>
        @Html.EditorFor(m => m.OperationOutput)
    }
</div>







